body {
  color: black !important;
  font-family: system-ui, "Segoe UI", sans-serif !important;
  height: 100svh;
  background-size: cover !important;
  background-position: center;
  animation: changeBackground 60s ease-in-out infinite;
}

p {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.2rem !important;
  transition: 4s ease-in-out;
}

blockquote {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  display: inline;
}

blockquote::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, 50%);
  background: #000;
  height: 2px;
  width: 30px;
  content: "";
}

@keyframes changeBackground {
  0% {
    background: url(/images/img-1.webp);
  }
  10% {
    background: url(/images/img-2.webp);
  }
  20% {
    background: url(/images/img-3.webp);
  }
  30% {
    background: url(/images/img-4.webp);
  }
  40% {
    background: url(/images/img-5.webp);
  }
  50% {
    background: url(/images/img-6.webp);
  }
  60% {
    background: url(/images/img-7.webp);
  }
  70% {
    background: url(/images/img-8.webp);
  }
  80% {
    background: url(/images/img-9.webp);
  }
  90% {
    background: url(/images/img-10.webp);
  }
  100% {
    background: url(/images/img-1.webp);
  }
}
